/*
******************************
* Comment Styles
******************************
*/

.respond-form {
  color: #3E3E3E;
  .h2 {
    font-family: 'gearedBold';
    color: #3E3E3E;
  }
  .comments-logged-in-as {
    font-family: 'geared';
  }
}

.respond-form form textarea {
  font-family: 'gearedThin';
}
