/*
******************************
* General Blog Page Styles
* Index/Single/Author/Archives
* Catogories/Comments/etc...
******************************
*/

.post {
  border-bottom: 1px solid lighten($brand-gray, 30%);
  margin-bottom: 20px;
}

/*
******************************
* Article Headers
******************************
*/

.article-header {
  h1 {
    font-family: 'haymaker';
    color: $brand-orange;
    a {
      color: $brand-orange;
      text-decoration: none;
      &:hover {
        color: $brand-darkGray;
      }
    }
    [data-icon] {
      color: $brand-color;
      font-size: $h1-size;
      position: relative;
      top: 2px;
      right: -10px;
    }
  }
}

.article-header {
  h3 {
    font-family: 'haymaker';
    color: $brand-orange;
    a {
      color: $brand-orange;
      text-decoration: none;
      &:hover {
        color: $brand-darkGray;
      }
    }
    [data-icon] {
      color: $brand-color;
      font-size: $h3-size;
      position: relative;
      top: 2px;
      right: -10px;
    }
  }
}

.article-header {
  p {
    font-family: 'geared';
  }
}

.byline a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $brand-darkGray;
  }
}

/*
******************************
* Pagination
******************************
*/
.bones_page_navi li.bpn-current {
  border-bottom: 0px;
}

.bones_page_navi li a:hover{
  color: $brand-darkGray;
  text-decoration: none;
}

.bones_page_navi li.bpn-prev-link {
  [data-icon] {
    color: $brand-color;
    font-size: $h6-size;
    position: relative;
    top: 5px;
    right: -6px;
    &:hover {
      color: $brand-darkGray;
    }
  }
}


.bones_page_navi li.bpn-next-link {
  [data-icon] {
    color: $brand-color;
    font-size: $h6-size;
    position: relative;
    top: 5px;
    right: 6px;
    &:hover {
      color: $brand-darkGray;
    }
  }
}

/*
******************************
* Contact Form Styles
******************************
*/

.contact-form label span {
  display: none;
}

.contact-form label {
  font-size: 20px;
}

input[type='email'] {
  padding: 8px;
}

input[type="submit"]{
  padding: 10px;
  font-size: 16px;
  background: $brand-color;
  color: white;
}

input, textarea {
  font-size: 20px;
}

.form-error h3 {
  color: rgb(255, 0, 0);
}
.form-errors .form-error-message {
  font-size: 20px;
}

a.application {
  font-size: 20px;
  text-decoration: underline !important;
}
