.nav {
  background-color: transparent;
  border: 0px;
  li {
    float: left;
    position: relative;
    a {
        border: 0px;
        background-color: transparent;
        color: $brand-orange;
        padding: 10px 8px;
        &:hover {
          background-color: transparent;
          color: darken($brand-orange, 9%);
        }
    }
  } 
}

.header-nav {
  position: relative;
  font-family: 'Haymaker';
  font-size: $h5-size;
  letter-spacing: .01em;
  width: 320px;
  margin: auto;
  .nav {
    margin: auto;
  }
}

#menu-item-53, #menu-item-54 {
  position: relative;
  top: -2px;
}

.header-nav .nav {
  li a { 
    color: darken($brand-orange, 5%);
    text-shadow: 1px 1px $brand-black;
    &:hover {
      color: $brand-color;
    }
  }
  li.current-menu-item a {
    color: $brand-color;
  }
}

