/*
******************************
* Blog Index Styles
******************************
*/

.blog {
  .article-header [data-icon] {
    font-size: 27px;
    position: relative;
    top: 2px;
    right: -10px;
  }
}
