/*! responsive-nav.js v1.0.14 by @viljamis */

.active {
    background: $brand-white;
}

.main-nav-wrapper {
    background: $brand-orange;
    margin: 0 -20px;
    font-size: 1.3em;
    font-family: 'geared';
    letter-spacing: .1em;
    color: $brand-black;
    border-top: 3px solid darken($brand-orange, 20%);
}

.main-nav {
  font-family: 'gearedBold';
  font-size: 1em;
  letter-spacing: .1em;
  border-top: 1px solid darken($brand-orange, 20%);
  text-align: center;
  .nav li {
    line-height: 0px;
    &:last-child {
        border-right: 0px;
    }
    a {
      color: $brand-black;
      text-transform: uppercase;
      padding: 10px 10px 6px;
      &:active {
        background: $brand-white;
      }
    }
  }
}

#nav-toggle {
    position: relative;
    display: block;
    padding: 15px 25px 10px;
    text-align: right;
    color: $brand-black;
    text-decoration: none;
}

#nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    li {
        display: block;
        clear: both;
        float: none;
        a {
            padding: 30px;
            border-bottom: 1px solid darken($brand-orange, 20%);
        }
    }
}

.js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

#nav.opened {
    max-height: 9999px !important;
}

#menu-mainnav {
    padding: 20px 0 0;
    margin: 0;
}
