.widgettitle {
  font-family: 'gearedBold';
}

/*
******************************
* Search Widget
******************************
*/
.screen-reader-text {
display: none;
}

#s {
  padding: 10px;
  margin-right: 7px;
}

#searchsubmit {
  padding: 11px;
}

#searchsubmit {
  padding: 12px;
}
