

.widgettitle {
  font-family: 'gearedBold';
}

/*
******************************
* Search Widget
******************************
*/
.screen-reader-text {
display: none;
}

#s {
  width: 70%;
  padding: 10px;
  margin-right: 7px;
}

#searchsubmit {
  width: 25%;
}
