@import "base/normalize";

@import "vars";
@import "base/mixins";

/******************************************************************
Mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
@import "base/mobile_first";

/*OOCSS - essential mobile-first*/
@import "ui/typography";

@import "ui/header";
@import "ui/header_nav";
@import "ui/main_nav";
@import "ui/social_nav";
@import "ui/flexslider";

@import "ui/home_widgets";
@import "ui/footer";

@import "base/media_queries";


/*
******************************
* Global Styles
******************************
*/

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $brand-subColor;
}



