@import "base/base";

@import "ui/typography";
@import "ui/header";
@import "ui/header_nav";
@import "ui/main_nav";
@import "ui/social_nav";
@import "ui/flexslider";
@import "ui/home_widgets";
@import "ui/footer";

@import "base/media_queries";

/*
******************************
* Global Styles
******************************
*/

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
      box-sizing:         border-box;
}

body {
  position: relative;
  background-color: $brand-subColor;
}



