/*********************
NAVIGATION STYLES
*********************/

.header-gradient {
  height: 110px;
}

.header-nav {
  width: 586px;
  font-size: $h2-size;
  margin: $base-space + 4 auto 0;
}

.main-nav-wrapper {
  background: transparent;
  margin: 0;
  font-size: 1em;
  border-top: 0px;
}

.main-nav {
  border-top: 0;
  padding: 19px 0 0 0;
  height: 52px;
    .nav li {
      border-right: 2px solid $brand-black;
     }
}

#nav ul li {
  display: inline-block;
  float: left;
  clear: none;
  a {
    padding: 7px 9px;
    border-bottom: 0px;
  }
  &:first-child a {
  padding-left: 0px;
  }
}

.js #nav {
  position: relative;
  max-height: none;
}

#nav-toggle {
  display: none;
}

.home #content {
margin: 0;
}

.social-nav {
  position: absolute;
  top: -6px;
  right: 0px;
  margin: 15px auto 0;
}


/*
******************************
* WIDGET STYLES
******************************
*/
#more {
  margin: 20px 0;
}

.donate {
  @include threecol;
  @include first;
  background: transparent;
  padding: 0 20px;
  margin-top: 6px;
  h1 {
    font-size: 32px;
    span {
      font-size: $h1-size;
    }
  }
}

.ticker-wrapper {
  @include threecol;
  background: transparent;
  padding: 0 20px;
  margin-left: 0;
  border-left: 1px solid $brand-black;
  border-right: 1px solid $brand-black;
}

.newsletter {
  width: 54.055249%;
  @include last;
  background: transparent;
  padding: 0px 20px 0 10px;
  margin-bottom: 20px;
  margin-left: 0;
  border-left: 0px;
}

.welcome-video {
  @include sixcol;
  @include first;
}

.instagram {
  @include sixcol;
  @include last;
}

.twitter {
  @include sixcol;
  @include first;
}

.recent-posts {
  @include sixcol;
  @include last;
}

/*
******************************
* Index Styles
******************************
*/

.article-wrap {
  @include eightcol;
  @include first;
}

    .article-header {
      @include fourcol;
      @include first;
    }

    .entry-content {
      @include eightcol;
      @include last;
    }

.sidebar {
  @include fourcol;
  @include last;
}

.article-footer {
  @include twelvecol;
  @include first;
}

/*
******************************
* In Between Media Queries
******************************
*/


@media only screen and (min-width: 1204px) {

.donate {
  margin-top: 0;
}

.donate h1 {
  font-size: 42px;
  text-align: center;
}

.ticker-wrapper {
  @include threecol;
  margin-left: 0;
}

.newsletter {
  width: 53.618785%;
  margin-left: 0px;
}

} // end of media query
