/*********************
NAVIGATION STYLES
*********************/
.nav {
  margin: 10px 0;
}

.header-gradient {
  height: 110px;
}

.header-nav {
  width: 586px;
  font-size: $h2-size;
  margin: $base-space + 4 auto 0;
}

.main-nav {
  border-top: 0;
  padding: 0;
  .nav > li {
    float: left;
    position: relative;
    margin-left: 5px;
    padding: 10px 0 10px 0px;
    &:hover {
      background-color: $brand-black;
      padding-bottom: 20px;
      margin-bottom: -20px;
      > a {
        color: $brand-white;
      }
    }
    a {
      border-right: 2px solid rgb(30, 34, 23);
      border-bottom: 0;
    }

    /*
    plan your menus and drop-downs wisely.
    */
    ul.sub-menu {
      width: 200px;
      margin-top: 20px;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      display: none;
      z-index: 8999;
      background-color: $brand-black;
      border: 0px;

      li {
        float: left;
        clear: both;
        padding: 10px 0 10px 2px;
        a {
          font-size: 14px;
          padding: 0 0 0 10px;
          border-right: 0;
          display: block;
          color: $brand-color;
          text-align: left;

          &:hover,
          &:focus {
            color: $brand-white;
          }

          &:link {}
        }

        &:first-child {}

        &:last-child {

          a {
            border-bottom: 0;
          }
        }

        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */
        ul {}
      }

      /* highlight sub-menu current page */
      li.current-menu-item,
      li.current_page_item,
      li.current-page-ancestor {
        a {
          color: $brand-white;
        }
      }
    }

    /* showing sub-menus */
    &:hover ul {
      top: auto;
      display: block;
    }

  } /* end .nav ul li */

  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current-page-ancestor {
      background-color: $brand-black;
    a {
      color: $brand-white;
    }
  } /* end current highlighters */
} /* end .main-nav */

.home #content {
margin: 0;
}

.social-nav {
  position: absolute;
  top: -6px;
  right: 0px;
  margin: 0 auto;
}

/*
******************************
* WIDGET STYLES
******************************
*/
#more {
  margin: 20px 0;
}

.donate {
  @include threecol;
  @include first;
  background: transparent;
  padding: 0 20px;
  margin-top: 6px;
  h1 {
    font-size: 32px;
    span {
      font-size: $h1-size;
    }
  }
}

.ticker-wrapper {
  @include threecol;
  background: transparent;
  padding: 0 20px;
  margin-left: 0;
  border-left: 1px solid $brand-black;
  border-right: 1px solid $brand-black;
}

.newsletter {
  width: 54.055249%;
  @include last;
  background: transparent;
  padding: 0px 20px 0 10px;
  margin-bottom: 20px;
  margin-left: 0;
  border-left: 0px;
}

.welcome-video {
  @include sixcol;
  @include first;
}

.instagram {
  @include sixcol;
  @include last;
}

.twitter {
  @include sixcol;
  @include first;
}

.recent-posts {
  @include sixcol;
  @include last;
}

/*
******************************
* INDEX STYLES
******************************
*/

.page .article-wrap {
  @include twelvecol;
  @include first;
}

.article-wrap {
  @include eightcol;
  @include first;
}

    .article-header {
      @include fourcol;
      @include first;
    }

    .entry-content {
      @include eightcol;
      @include last;
    }

.sidebar {
  @include fourcol;
  @include last;
}

.article-footer {
  @include twelvecol;
  @include first;
}

/*
******************************
* IN BETWEEN MEDIA QUERIES
******************************
*/


@media only screen and (min-width: 1204px) {

.donate {
  margin-top: 0;
}

.donate h1 {
  font-size: 42px;
  text-align: center;
}

.ticker-wrapper {
  @include threecol;
  margin-left: 0;
}

.newsletter {
  width: 53.618785%;
  margin-left: 0px;
}

} // end of media query
