/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
HEADER STYLES
*********************/

.header-gradient {
	background: #f2f2f0;
  background: -moz-linear-gradient(left,  rgba(242,242,240,1) 0%, rgba(242,242,240,1) 40%, rgba(242,242,240,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,240,1)), color-stop(40%,rgba(242,242,240,1)), color-stop(100%,rgba(242,242,240,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(242,242,240,1) 0%,rgba(242,242,240,1) 40%,rgba(242,242,240,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(242,242,240,1) 0%,rgba(242,242,240,1) 40%,rgba(242,242,240,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(242,242,240,1) 0%,rgba(242,242,240,1) 40%,rgba(242,242,240,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(242,242,240,1) 0%,rgba(242,242,240,1) 40%,rgba(242,242,240,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f0', endColorstr='#00f2f2f0',GradientType=1 ); /* IE6-9 */
}

/*********************
NAVIGATION STYLES
*********************/

.header-nav {
	width: 479px;
  font-size: $h3-size;
  letter-spacing: .1em;
}

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {
					
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

#menu-item-53, #menu-item-54 {
  display: block;
}

/*********************
SLIDER STYLES
*********************/

.home #content {
  margin: 0;
}

/*********************
WIDGET STYLES
*********************/
#widgets {
  margin: 30px;
}

.more {
  border-bottom: 1px solid $brand-black;
}

.donate, .ticker-wrapper, .newsletter {
  border-bottom: 0px;
}

.ticker-wrapper, .newsletter {
  border-left: 1px solid $brand-black;
  padding-left: 20px;
  p {
    margin: 0;
  }
}

.ticker-wrapper {
border-left: 0px;
}

.easy-instagram-thumbnail-wrapper {
  position: relative;
  float: left;
  padding-bottom: 33.3%;
  width: 33.3%;
  a {
    position: absolute;
    left: -5px;
    right: -5px;
    top: 0px;
    bottom: 0px;
  }
}

.easy-instagram-thumbnail {
  max-width: 100% !important;
  width: 100% !important; /* Fix for IE - needs to be width: auto;*/
  height: auto !important;
  padding: 10px;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	padding: 3px 30px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */
			
/*
******************************
* In Between Media Queries
******************************
*/

@media only screen and (min-width: 600px) {

.email-submit {
  float: none;
  margin-left: 348px;
  width: auto;
  margin-top: 5px;
}

} // end of media query

@media only screen and (min-width: 680px) {

.footer-nav-wrap {
  @include sixcol;
  @include first;
}


.copyright-wrap {
  @include sixcol;
  @include last;
  text-align: right;
  margin: 10px 0;
  padding-right: 80px;
}

.footer-logo {
  bottom: -22px;
}

} // end of media query
