.header-nav {
	width: 479px;
  font-size: $h3-size;
  margin: auto;
}

.footer-logo {
  bottom: 424px;
}


/*
******************************
* Home Widgets
******************************
*/

.donate {
	width: 50%;
	float: left;
	h1 {
		text-align: center;
	}
}

.ticker {
	width: 50%;
	float: right;
}

.newsletter {
	@include twelvecol;
	@include first;
}

.newsletter-cta {
	width: 19.928177%;
	@include first;
}

.checkboxes {
	@include threecol;
}

.email-submit {
	@include sixcol;
	margin-left: 2.762431%;
	margin-top: 5px;
}
