/*********************
GRIDS
*********************/

@mixin cols {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
}

@mixin onecol {@include cols; width: 5.801104972%; }
@mixin twocol {@include cols; width: 14.364640883%; }
@mixin threecol {@include cols; width: 22.928176794%; }
@mixin fourcol {@include cols; width: 31.491712705%; }
@mixin fivecol {@include cols; width: 40.055248616%; }
@mixin sixcol {@include cols; width: 48.618784527%; }
@mixin sevencol {@include cols; width: 57.182320438000005%; }
@mixin eightcol {@include cols; width: 65.74585634900001%; }
@mixin ninecol {@include cols; width: 74.30939226%; }
@mixin tencol {@include cols; width: 82.87292817100001%;}
@mixin elevencol {@include cols; width: 91.436464082%;}
@mixin twelvecol {@include cols; width: 99.999999993%; }

@mixin first {margin-left: 0;}
@mixin last {float: right;}


/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}
